@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../../public/fonts/Roboto/Roboto-Black.ttf') format('truetype'),
         url('../../public/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype'),
         url('../../public/fonts/Roboto/Roboto-Bold.ttf') format('truetype'),
         url('../../public/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype'),
         url('../../public/fonts/Roboto/Roboto-Light.ttf') format('truetype'),
         url('../../public/fonts/Roboto//Roboto-LightItalic.ttf') format('truetype'),
         url('../../public/fonts/Roboto/Roboto-Medium.ttf') format('truetype'),
         url('../../public/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype'),
         url('../../public/fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
         url('../../public/fonts/Roboto/Roboto-RegularItalic.ttf') format('truetype'),
         url('../../public/fonts/Roboto/Roboto-Thin.ttf') format('truetype'),
         url('../../public/fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Work Sans', sans-serif;
    src: url('../../public/fonts/Work_Sans/WorkSans-Bold.ttf') format('truetype'),
         url('../../public/fonts/Work_Sans/WorkSans-SemiBold.ttf') format('truetype'),
         url('../../public/fonts/Work_Sans/WorkSans-Regular.ttf') format('truetype'),
         url('../../public/fonts/Work_Sans/WorkSans-Medium.ttf') format('truetype'),
         url('../../public/fonts/Work_Sans/WorkSans-Light.ttf') format('truetype');
}