// Header & Sub-header font family.
@font-face {
    font-family: 'Source Code Pro', monospace;
    src: url('../../public/fonts/Source_Code_Pro/SourceCodePro-LightItalic.ttf') format('truetype'),
         url('../../public/fonts/Source_Code_Pro/SourceCodePro-Light.ttf') format('truetype'),
         url('../../public/fonts/Source_Code_Pro/SourceCodePro-Regular.ttf') format('truetype'),
         url('../../public/fonts/Source_Code_Pro/SourceCodePro-Italic.ttf') format('truetype'),
         url('../../public/fonts/Source_Code_Pro/SourceCodePro-Medium.ttf') format('truetype'),
         url('../../public/fonts/Source_Code_Pro/SourceCodePro-MediumItalic.ttf') format('truetype'),
         url('../../public/fonts/Source_Code_Pro/SourceCodePro-SemiBold.ttf') format('truetype'),
         url('../../public/fonts/Source_Code_Pro/SourceCodePro-Bold.ttf') format('truetype'),
         url('../../public/fonts/Source_Code_Pro/SourceCodePro-SemiBold.ttf') format('truetype');

         // font-weight: 300;
         // font-weight: 400;
         // font-weight: 500;
         // font-weight: 600;
         // font-weight: 700;
         // font-weight: 900;
}

// General/Overall font styles
@font-face {
    font-family: 'Muli', sans-serif;
    src: url('../../public/fonts/Muli/Muli-Light.ttf') format('truetype'),
         url('../../public/fonts/Muli/Muli-LightItalic.ttf') format('truetype'),
         url('../../public/fonts/Muli/Muli-Regular.ttf') format('truetype'),
         url('../../public/fonts/Muli/Muli-Italic.ttf') format('truetype'),
         url('../../public/fonts/Muli/Muli-SemiBold.ttf') format('truetype'),
         url('../../public/fonts/Muli/Muli-SemiBoldItalic.ttf') format('truetype'),
         url('../../public/fonts/Muli/Muli-Bold.ttf') format('truetype');

         // font-weight: 300;
         // font-weight: 400;
         // font-weight: 600;
         // font-weight: 700;
         // font-weight: 800;
}
