*,
*::after,
*::before {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 15.5px;
    font-weight: 400;
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;

    background-color: #FAFBFC;
}

.white * {
    color: $white;
}

.error {
    color: $red;
}

.main-app-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.header-wrapper,
.content-wrapper,
.footer-wrapper {
    position: relative;
    width: 100%;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;

    & .page {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        height: 100%;
        width: 90%;
        margin-top: 40px;

        & .page-title {
            display: flex;
            align-items: center;
            align-content: center;
            height: 120px;
            width: 100%;
            
            & h1 {
                font-size: 2em;
                font-weight: 700;
                letter-spacing: 0.8px;
            }
        }

        & .card {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;

            height: auto;
            padding: 35px;
            margin-bottom: 40px;
            background-color: #FFFFFF;
            border: 1px solid #E3E5E8;
            border-radius: 4px;
            box-shadow: 0 4px 6px rgba(34, 54, 84, 0.1),
                        0 2px 4px rgba(34, 54, 84, 0.08),
                        0 -2px 6px rgba(34, 54, 84, 0.03);
        }
    }
}

.col {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100%;
    margin-right: 20px;
}