*,
*::after,
*::before {
    position: relative;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

html,
body {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;

    background-color: #FAFBFC;
}

.white,
.white * {
    color: $white;
}

.error,
.error * {
    color: $red;
}

.main-app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-wrapper,
.content-wrapper,
.footer-wrapper {
    width: 100vw;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;

    .page {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width: 100vw;

        .header-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            height: 325px;
            width: 100vw;
            padding-left: 65px;
            
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            .header-title {
                font-family: 'Alegreya Sans', sans-serif;
                font-size: 35px;
                font-weight: 800;
                letter-spacing: 0.8px;
            }

            .header-subTitle {
                margin-left: 5px;
            }
        }

        .card {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;

            height: auto;
            padding: 35px;
            margin-bottom: 40px;
            background-color: #FFFFFF;
            border: 1px solid #E3E5E8;
            border-radius: 4px;
            box-shadow: 0 4px 6px rgba(34, 54, 84, 0.1),
                        0 2px 4px rgba(34, 54, 84, 0.08),
                        0 -2px 6px rgba(34, 54, 84, 0.03);
        }
    }
}

.col {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100%;
    margin-right: 20px;

    &.center {
        justify-content: center;
    }

    &.right {
        justify-content: flex-end;
    }
}