.header-wrapper {
    position: relative;
    height: auto;
    width: auto;
}

.navbar {
    position: relative;
    height: auto;
    width: 100%;
    background-image: url('../images/assets/snagPodcast-banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    & * {
        font-family: 'Work Sans', sans-serif;
        font-size: 25px;
        font-weight: 600;
    }

    &.top {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        height: 260px;
        width: 100%;
    }

    & .banner {
        position: absolute;
        right: 0;
        left: 0;
        bottom: -95px;
        height: 160px;
        width: 52%;
        margin: 0 auto;
        background-color: #13005C;
        border-radius: 4px;
        -webkit-box-shadow: 0px 0px 20px -8px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 20px -8px rgba(0,0,0,1);
        box-shadow: 0px 0px 20px -8px rgba(0,0,0,1);

        display: flex;
        align-items: center;
        align-content: center;

        & .text {
            color: $white;
            font-size: 38px;
            text-align: center;
            letter-spacing: 0.8px;
        }

        & span {
            color: #DD1369;
            font-size: 38px;
        }
    }
}

.navTopRow {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: 200px;
    width: 700px;
    padding-left: 50px;
}

.navTopCol {
    position: relative;
    height: 60px;
    width: 100px;
    text-align: center;

    a {
        height: 100%;
        width: 100%;
        text-decoration: none;
        letter-spacing: 0.5px;
    }

    &.logo {
        height: 160px;
        width: 160px;
    }

    & .link-container {
        position: relative;
        height: 100%;
        width: auto;
        padding: 15px 0;
    }

    & .link-container::before {
        -webkit-transition: 300ms;
        transition: 300ms;
        height: 3px;
        content: '';
        position: absolute;
        background-color: $white;
        width: 0%;
        left: -5%;
        bottom: 0;
        z-index: 5;
    }

    & .link-container:hover::before {
        width: 110%;
    }

    & .active::before {
        width: 110%;
    }
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 0px 0px 20px -8px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 20px -8px rgba(0,0,0,1);
    box-shadow: 0px 0px 20px -8px rgba(0,0,0,1);
    -webkit-transition: width 0.3s, height 0.3s;
    transition: width 0.3s, height 0.3s;

    &:hover {
        height: 102%;
        width: 102%;
    }

    &.active {
        height: 102%;
        width: 102%;
    }
    
    img {
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}