.header-wrapper {
    position: relative;
    height: auto;
    width: auto;
}

.navbar {
    background-image: url('../images/snagPodcast-banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    & * {
        font-family: 'Work Sans', sans-serif;
        font-size: 25px;
        font-weight: 600;
    }

    &.top {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-end;
        height: 220px;
        width: 100%;
    }

    & .banner {
        position: absolute;
        bottom: -50%;
        left: 50%;
        height: 250px;
        width: 600px;
        padding: 20px;
        background-color: #13005C;

        & .text {
            color: $white;
            font-size: 30px;
        }

        & span {
            color: #DD1369;
        }
    }
}

.navTopRow {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: auto;
    width: 600px;
    margin-bottom: 11px;
}

.navTopCol {
    height: auto;
    width: 30%;
    margin: 0 0 0 15px;
    text-align: center;

    a {
        height: 100%;
        width: 100%;
        text-decoration: none;
        letter-spacing: 0.5px;
    }

    &.logo {
        position: relative;
        height: 180px;
        width: 180px;
        overflow: auto;
    }

    &.link {
        display: flex;
        justify-content: center;

        & .link-container {
            position: relative;
            height: 100%;
            width: auto;
            padding: 15px 0;
        }

        & .link-container::before {
            -webkit-transition: 300ms;
            transition: 300ms;
            height: 3px;
            content: '';
            position: absolute;
            background-color: $white;
            width: 0%;
            left: -10%;
            bottom: 0;
            z-index: 5;
        }

        & .link-container:hover::before {
            width: 120%;
        }

        & .active::before {
            width: 120%;
        }
    }
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 160px;
    width: 160px;
    -webkit-box-shadow: 0px 0px 20px -8px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 20px -8px rgba(0,0,0,1);
    box-shadow: 0px 0px 20px -8px rgba(0,0,0,1);
    -webkit-transition: width 0.3s, height 0.3s;
    transition: width 0.3s, height 0.3s;

    &:hover {
        height: 163px;
        width: 163px;
    }

    &.active {
        height: 163px;
        width: 163px;
    }
    
    img {
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}