.nav-wrapper * {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.navbar {
    height: auto;
    width: 100%;
    background-image: url('../images/assets/snagPodcast-banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.top {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        height: 145px;
        width: 100%;
    }

    .banner {
        position: absolute;
        right: 0;
        left: 0;
        bottom: -130px;
        z-index: 1;

        display: flex;
        align-items: center;
        align-content: center;

        height: 160px;
        width: 740px;
        margin: 0 auto;
        background-color: #13005C;
        border-radius: 4px;
        -webkit-box-shadow: 0px 0px 20px -8px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 20px -8px rgba(0,0,0,1);
        box-shadow: 0px 0px 20px -8px rgba(0,0,0,1);

        .text {
            font-size: 35px;
            text-align: center;
            letter-spacing: 0.8px;
        }

        & span {
            color: #DD1269;
            font-size: 38px;
        }
    }
}

.navRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 750px;
    padding-left: 50px;
}

.navCol {
    height: 50px;
    width: auto;
    text-align: center;

    &.logo {
        align-self: flex-start;
        z-index: 1;
        height: 160px;
        width: 160px;
        margin: 8px 0 0 8px;
    }

    .link-container {
        height: 100%;
        width: auto;

        a {
            height: 100%;
            width: 100%;

            -webkit-transition: 300ms all ease;
            transition: 300ms all ease;

            text-decoration: none;
            letter-spacing: 0.5px;
        }

        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            height: 5px;
            width: 0%;
            left: -5%;
            bottom: 0;

            -webkit-transition: 300ms all ease;
            transition: 300ms all ease;

            background-color: $white;
        }

        &:hover::after {
            width: 110%;
            background-color: #DD1269;
        }

        &.active::after {
            width: 110%;
            background-color: #DD1269;
        }
    }
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    
    -webkit-box-shadow: 0px 0px 20px -8px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 20px -8px rgba(0,0,0,1);
    box-shadow: 0px 0px 20px -8px rgba(0,0,0,1);

    -webkit-transition: width 0.3s, height 0.3s ease;
    transition: width 0.3s, height 0.3s ease;

    &:hover {
        height: 102%;
        width: 102%;
    }

    &.active {
        height: 102%;
        width: 102%;
    }
    
    img {
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    a {
        height: 100%;
        width: 100%;
    }
}