@font-face {
  font-family: "Roboto", sans-serif;
  src: url(/fonts/Roboto-Black.ttf?3234b3e853eabe9fc936cd7a133055ad) format("truetype"), url(/fonts/Roboto-BlackItalic.ttf?18a576bf7ceb253929ac1f7bdfe6d467) format("truetype"), url(/fonts/Roboto-Bold.ttf?7c18188784f21915f42a5b3bc9d91e20) format("truetype"), url(/fonts/Roboto-BoldItalic.ttf?9098d3de14ef1cfae7be4f195fe1a174) format("truetype"), url(/fonts/Roboto-Medium.ttf?d52f011be65b281ba8ca1c3f689cf133) format("truetype"), url(/fonts/Roboto-MediumItalic.ttf?c1d8fbd29929d048c8d065d1be3bc35d) format("truetype"), url(/fonts/Roboto-Regular.ttf?18d44f79b3979ec168862093208c6d7d) format("truetype"), url(/fonts/Roboto-RegularItalic.ttf?9da6e8b1803fec548ee0720f620f93f5) format("truetype"), url(/fonts/Roboto-Light.ttf?c6cdfded4630ba6d9a2dceb70aa4fe0f) format("truetype"), url(/fonts/Roboto-LightItalic.ttf?afd48b813752d70b936e73d99b5dca35) format("truetype");
}

@font-face {
  font-family: "Work Sans", sans-serif;
  src: url(/fonts/WorkSans-Bold.ttf?1fed2d8028f8f5356cbecedb03427405) format("truetype"), url(/fonts/WorkSans-SemiBold.ttf?6f8da6d25c25d58ef3ec1c8b7c0e69c3) format("truetype"), url(/fonts/WorkSans-Regular.ttf?30be604d29fd477c201fb1d6e668eaeb) format("truetype"), url(/fonts/WorkSans-Medium.ttf?488b6f72b6183415e7a20aafa803a0c8) format("truetype"), url(/fonts/WorkSans-Light.ttf?f696fb4c6b331373967288debc9baaec) format("truetype");
}

*,
*::after,
*::before {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 15.5px;
  font-weight: 400;
}

body {
  overflow-x: hidden;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  background-color: #FAFBFC;
}

.white * {
  color: #FFF;
}

.error {
  color: #e3342f;
}

.main-app-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header-wrapper,
.content-wrapper,
.footer-wrapper {
  position: relative;
  width: 100%;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.content-wrapper .page {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  height: 100%;
  width: 90%;
  margin-top: 40px;
}

.content-wrapper .page .page-title {
  display: flex;
  align-items: center;
  align-content: center;
  height: 120px;
  width: 100%;
}

.content-wrapper .page .page-title h1 {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.content-wrapper .page .card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  height: auto;
  padding: 35px;
  margin-bottom: 40px;
  background-color: #FFFFFF;
  border: 1px solid #E3E5E8;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(34, 54, 84, 0.1), 0 2px 4px rgba(34, 54, 84, 0.08), 0 -2px 6px rgba(34, 54, 84, 0.03);
}

.col {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 100%;
  margin-right: 20px;
}

.header-wrapper {
  position: relative;
  height: auto;
  width: auto;
}

.navbar {
  position: relative;
  height: auto;
  width: 100%;
  background-image: url(/images/snagPodcast-banner.jpg?d7f9f0aad3de7b6c3f8abffc34b62259);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar * {
  font-family: "Work Sans", sans-serif;
  font-size: 25px;
  font-weight: 600;
}

.navbar.top {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  height: 260px;
  width: 100%;
}

.navbar .banner {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -95px;
  display: flex;
  align-items: center;
  align-content: center;
  height: 160px;
  width: 740px;
  margin: 0 auto;
  background-color: #13005C;
  border-radius: 4px;
  box-shadow: 0px 0px 20px -8px black;
  z-index: 1;
}

.navbar .banner .text {
  color: #FFF;
  font-size: 38px;
  text-align: center;
  letter-spacing: 0.8px;
}

.navbar .banner span {
  color: #DD1369;
  font-size: 38px;
}

.navTopRow {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: 200px;
  width: 700px;
  padding-left: 50px;
}

.navTopCol {
  position: relative;
  height: 60px;
  width: 100px;
  text-align: center;
}

.navTopCol a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.navTopCol.logo {
  height: 160px;
  width: 160px;
}

.navTopCol .link-container {
  position: relative;
  height: 100%;
  width: auto;
  padding: 15px 0;
}

.navTopCol .link-container::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #FFF;
  width: 0%;
  left: -5%;
  bottom: 0;
  z-index: 5;
}

.navTopCol .link-container:hover::before {
  width: 110%;
}

.navTopCol .active::before {
  width: 110%;
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 20px -8px black;
  transition: width 0.3s, height 0.3s;
}

.logo-container:hover {
  height: 102%;
  width: 102%;
}

.logo-container.active {
  height: 102%;
  width: 102%;
}

.logo-container img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.latest-episode {
  position: relative;
  height: 850px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.latest-episode .img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(86, 86, 86, 0.6);
}

.index.page .snagCard {
  justify-content: space-between;
  width: 100%;
}

.index.page .snagCard .img-container {
  height: 250px;
  width: 250px;
}

.index.page .snagCard .img-container img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.index.page .snagCard .episode-info {
  width: 70%;
}

.index.page .snagCard .episode-info .title {
  height: 50px;
  width: 100%;
}

.index.page .snagCard .episode-info .title.sub {
  height: auto;
}

.index.page .snagCard .episode-info .title .episode-num {
  color: #98A7B9;
  font-family: "Work Sans", sans-serif;
  font-size: 45px;
  font-weight: 800;
  opacity: 0.75;
}

.index.page .snagCard .episode-info .title .episode-num i {
  font-size: 45px;
  font-weight: 800;
}

.index.page .snagCard .episode-info .title a {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.contact.page .contact-form {
  width: 88%;
}

.contact.page .contact-form .row-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact.page .contact-form .row-items .row {
  width: 45%;
}

.contact.page .contact-form .row {
  width: 100%;
  margin: 15px 0;
}

.contact.page .contact-form .row label {
  color: #747B87;
  font-size: 18px;
  font-weight: 600;
}

.contact.page .contact-form .row input[type=text],
.contact.page .contact-form .row textarea {
  width: 100%;
  margin: 8px 0;
  padding: 6px 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000000;
  box-shadow: 0px 0px 0px 0px #000000;
  opacity: 0.75;
}

.contact.page .contact-form .row input[type=text]:hover,
.contact.page .contact-form .row textarea:hover {
  transition: 200ms ease;
  box-shadow: 0px 3px 0px 0px #000000;
  opacity: 1;
}

.contact.page .contact-form .row input[type=text]:focus,
.contact.page .contact-form .row textarea:focus {
  transition: 200ms ease;
  box-shadow: 0px 3px 0px 0px #000000;
  opacity: 1;
}

.contact.page .contact-form .row .submit-btn {
  height: 45px;
  padding: 0 14px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: lightblue;
}

