@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Black.ttf?3234b3e853eabe9fc936cd7a133055ad) format("truetype"), url(/fonts/Roboto-BlackItalic.ttf?18a576bf7ceb253929ac1f7bdfe6d467) format("truetype"), url(/fonts/Roboto-Bold.ttf?7c18188784f21915f42a5b3bc9d91e20) format("truetype"), url(/fonts/Roboto-BoldItalic.ttf?9098d3de14ef1cfae7be4f195fe1a174) format("truetype"), url(/fonts/Roboto-Light.ttf?c6cdfded4630ba6d9a2dceb70aa4fe0f) format("truetype"), url(/fonts/Roboto-LightItalic.ttf?afd48b813752d70b936e73d99b5dca35) format("truetype"), url(/fonts/Roboto-Medium.ttf?d52f011be65b281ba8ca1c3f689cf133) format("truetype"), url(/fonts/Roboto-MediumItalic.ttf?c1d8fbd29929d048c8d065d1be3bc35d) format("truetype"), url(/fonts/Roboto-Regular.ttf?18d44f79b3979ec168862093208c6d7d) format("truetype"), url(/fonts/Roboto-RegularItalic.ttf?9da6e8b1803fec548ee0720f620f93f5) format("truetype"), url(/fonts/Roboto-Thin.ttf?d1e42f1b6d0c32271f8e68515563a213) format("truetype"), url(/fonts/Roboto-ThinItalic.ttf?2cbc2256ef5afbf04c18beeee4478e55) format("truetype");
}

@font-face {
  font-family: "Oxygen";
  src: url(/fonts/Oxygen-Light.ttf?922ed94b88c919460a7c10d39d6fdb8a) format("truetype"), url(/fonts/Oxygen-Regular.ttf?cfee52edc88d83727d065101ce895bf2) format("truetype"), url(/fonts/Oxygen-Bold.ttf?cc6e1a44c064aac41fcceffef75dd4c0) format("truetype");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

body {
  overflow-x: hidden;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

.white * {
  color: #FFF;
}

.app-header {
  position: relative;
  height: auto;
  width: auto;
}

.navbar {
  background-image: url(https://snagpodcast.com/wp-content/uploads/2019/03/background-2-cropped.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar * {
  font-family: "Oxygen", sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.navbar.top {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  height: 220px;
  width: 100%;
}

.navTopRow {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: auto;
  width: 600px;
  margin-bottom: 11px;
}

.navTopCol {
  height: auto;
  width: 30%;
  margin: 0 0 0 15px;
  text-align: center;
}

.navTopCol:hover {
  transition: all 0.6s;
}

.navTopCol a {
  text-decoration: none;
}

.navTopCol.logo {
  position: relative;
  height: 160px;
  width: 160px;
  box-shadow: 0px 0px 20px -8px black;
}

.navTopCol.logo:hover {
  height: 162px;
  width: 162px;
}

.navTopCol.logo.active {
  height: 162px;
  width: 162px;
}

.navTopCol.logo a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.navTopCol.logo img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  background-color: lightgrey;
}

