@font-face {
  font-family: "Alegreya Sans", sans-serif;
  src: url(/fonts/AlegreyaSans-LightItalic.ttf?7b6488dc9118e788b92c99285c208550) format("truetype"), url(/fonts/AlegreyaSans-Light.ttf?15a542eabd31a51063376540597638b3) format("truetype"), url(/fonts/AlegreyaSans-Regular.ttf?faa3c83d580611cb766fbedafddedf21) format("truetype"), url(/fonts/AlegreyaSans-Italic.ttf?fb1083e5dd19f9b1eb8983ffdcc9fb46) format("truetype"), url(/fonts/AlegreyaSans-Medium.ttf?5a3f02a790b8282ba62f83bf2afcd0f6) format("truetype"), url(/fonts/AlegreyaSans-MediumItalic.ttf?e10f682a050ee45fe335a248426c0124) format("truetype"), url(/fonts/AlegreyaSans-Bold.ttf?1e3960b45fa41b6383b8f34c181432d0) format("truetype"), url(/fonts/AlegreyaSans-ExtraBold.ttf?8d99c45d7a22b18a43383fc07e6d1c72) format("truetype");
}

@font-face {
  font-family: "Muli", sans-serif;
  src: url(/fonts/Muli-Light.ttf?d80af0828fe7e5236cb28e3bbcdf9e87) format("truetype"), url(/fonts/Muli-LightItalic.ttf?70c475e998d8e642b30de75a5784ec5f) format("truetype"), url(/fonts/Muli-Regular.ttf?e063a333cc9d58a3ad85d5cd86bf92d5) format("truetype"), url(/fonts/Muli-Italic.ttf?42ba31045765427e247a38c7e2c50e41) format("truetype"), url(/fonts/Muli-SemiBold.ttf?3217b2cde8e4451eb8a8572d39798598) format("truetype"), url(/fonts/Muli-SemiBoldItalic.ttf?17c1038fa865fea142dfd68676518105) format("truetype"), url(/fonts/Muli-Bold.ttf?44ea8275e878ed72a9c8a393f9de12d2) format("truetype");
}

*,
*::after,
*::before {
  position: relative;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

html,
body {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  background-color: #FAFBFC;
}

.white,
.white * {
  color: #FFF;
}

.error,
.error * {
  color: #e3342f;
}

.main-app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-wrapper,
.content-wrapper,
.footer-wrapper {
  width: 100vw;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.content-wrapper .page {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100vw;
}

.content-wrapper .page .header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 420px;
  width: 100vw;
  padding-left: 65px;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-wrapper .page .header-container .titles {
  color: #FFF;
  z-index: 1;
}

.content-wrapper .page .header-container .titles .header-title {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.8px;
}

.content-wrapper .page .header-container .titles .header-subTitle {
  margin-left: 5px;
  font-size: 16px;
}

.content-wrapper .page .header-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(52, 153, 235, 0.7);
}

.content-wrapper .page .card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  height: auto;
  padding: 35px;
  margin-bottom: 40px;
  background-color: #FFFFFF;
  border: 1px solid #E3E5E8;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(34, 54, 84, 0.1), 0 2px 4px rgba(34, 54, 84, 0.08), 0 -2px 6px rgba(34, 54, 84, 0.03);
}

.col {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 100%;
  margin-right: 20px;
}

.col.center {
  justify-content: center;
}

.col.right {
  justify-content: flex-end;
}

.nav-wrapper * {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.navbar {
  height: auto;
  width: 100%;
  background-image: url(/images/snagPodcast-banner.jpg?d7f9f0aad3de7b6c3f8abffc34b62259);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar.top {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  height: 145px;
  width: 100%;
}

.navbar .banner {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -110px;
  z-index: 1;
  display: flex;
  align-items: center;
  align-content: center;
  height: 140px;
  width: 740px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #13005C;
  border-radius: 4px;
  box-shadow: 0px 0px 20px -8px black;
}

.navbar .banner .text {
  font-size: 35px;
  text-align: center;
  letter-spacing: 0.8px;
}

.navbar .banner span {
  color: #DD1269;
  font-size: 38px;
}

.navRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 750px;
  padding-left: 50px;
}

.navCol {
  height: 50px;
  width: auto;
  text-align: center;
}

.navCol.logo {
  align-self: flex-start;
  z-index: 1;
  height: 160px;
  width: 160px;
  margin: 8px 0 0 8px;
}

.navCol .link-container {
  height: 100%;
  width: auto;
}

.navCol .link-container a {
  height: 100%;
  width: 100%;
  transition: 300ms all ease;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.navCol .link-container::after {
  content: "";
  position: absolute;
  z-index: 1;
  height: 5px;
  width: 0%;
  left: -5%;
  bottom: 0;
  transition: 300ms all ease;
  background-color: #FFF;
}

.navCol .link-container:hover::after {
  width: 110%;
  background-color: #DD1269;
}

.navCol .link-container.active::after {
  width: 110%;
  background-color: #DD1269;
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 20px -8px black;
  transition: width 0.3s, height 0.3s ease;
}

.logo-container:hover {
  height: 102%;
  width: 102%;
}

.logo-container.active {
  height: 102%;
  width: 102%;
}

.logo-container img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.logo-container a {
  height: 100%;
  width: 100%;
}

.index.page .tag {
  width: auto;
  padding: 8px;
  background-color: #EA4695;
  border-radius: 4px;
}

.index.page .snagCard {
  justify-content: space-between;
  width: 100%;
}

.index.page .snagCard .img-container {
  height: 250px;
  width: 250px;
}

.index.page .snagCard .img-container img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.index.page .snagCard .episode-info {
  width: 70%;
}

.index.page .snagCard .episode-info .title {
  height: 50px;
  width: 100%;
}

.index.page .snagCard .episode-info .title.sub {
  height: auto;
}

.index.page .snagCard .episode-info .title .episode-num {
  color: #98A7B9;
  font-size: 45px;
  font-weight: 800;
  opacity: 0.75;
}

.index.page .snagCard .episode-info .title .episode-num i {
  font-size: 45px;
  font-weight: 800;
}

.index.page .snagCard .episode-info .title a {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.about.page .header-container {
  background-image: url(/images/about-banner.jpeg?58d57871d9996812e7ebf1f9bb66dde0);
}

.contact.page .contact-form {
  width: 88%;
}

.contact.page .contact-form .row-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact.page .contact-form .row-items .row {
  width: 45%;
}

.contact.page .contact-form .row {
  width: 100%;
  margin: 15px 0;
}

.contact.page .contact-form .row label {
  color: #747B87;
  font-size: 18px;
  font-weight: 600;
}

.contact.page .contact-form .row input[type=text],
.contact.page .contact-form .row textarea {
  width: 100%;
  margin: 8px 0;
  padding: 6px 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000000;
  box-shadow: 0px 0px 0px 0px #000000;
  opacity: 0.75;
}

.contact.page .contact-form .row input[type=text]:hover,
.contact.page .contact-form .row textarea:hover {
  transition: 200ms ease;
  box-shadow: 0px 3px 0px 0px #000000;
  opacity: 1;
}

.contact.page .contact-form .row input[type=text]:focus,
.contact.page .contact-form .row textarea:focus {
  transition: 200ms ease;
  box-shadow: 0px 3px 0px 0px #000000;
  opacity: 1;
}

.contact.page .contact-form .row .submit-btn {
  height: 45px;
  padding: 0 14px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: lightblue;
}

