@font-face {
  font-family: "Source Code Pro", monospace;
  src: url(/fonts/SourceCodePro-LightItalic.ttf?ac76390ae8518be5c0a0bd1f3b088b4b) format("truetype"), url(/fonts/SourceCodePro-Light.ttf?a8d6f8bb989fc3c860ad2eeac21f9daa) format("truetype"), url(/fonts/SourceCodePro-Regular.ttf?b484b32fcec981a533e3b9694953103b) format("truetype"), url(/fonts/SourceCodePro-Italic.ttf?c088801620ae4d69924da74e879170a9) format("truetype"), url(/fonts/SourceCodePro-Medium.ttf?f621c504d70317ff13774e27d643ba21) format("truetype"), url(/fonts/SourceCodePro-MediumItalic.ttf?0b54cce890a75c2227718eaf473068ba) format("truetype"), url(/fonts/SourceCodePro-SemiBold.ttf?420d3580f5b6e63ba1eabb8555b5f6cf) format("truetype"), url(/fonts/SourceCodePro-Bold.ttf?03c11f6b0c0f707075d6483a78824c60) format("truetype"), url(/fonts/SourceCodePro-Black.ttf?efa63de0d44af1e7de9e01a4467dd423) format("truetype");
}

@font-face {
  font-family: "Muli", sans-serif;
  src: url(/fonts/Muli-Light.ttf?d80af0828fe7e5236cb28e3bbcdf9e87) format("truetype"), url(/fonts/Muli-LightItalic.ttf?70c475e998d8e642b30de75a5784ec5f) format("truetype"), url(/fonts/Muli-Regular.ttf?e063a333cc9d58a3ad85d5cd86bf92d5) format("truetype"), url(/fonts/Muli-Italic.ttf?42ba31045765427e247a38c7e2c50e41) format("truetype"), url(/fonts/Muli-SemiBold.ttf?3217b2cde8e4451eb8a8572d39798598) format("truetype"), url(/fonts/Muli-SemiBoldItalic.ttf?17c1038fa865fea142dfd68676518105) format("truetype"), url(/fonts/Muli-Bold.ttf?44ea8275e878ed72a9c8a393f9de12d2) format("truetype");
}

*,
*::after,
*::before {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

body {
  overflow-x: hidden;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  background-color: #FAFBFC;
}

.white * {
  color: #FFF;
}

.error {
  color: #e3342f;
}

.main-app-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header-wrapper,
.content-wrapper,
.footer-wrapper {
  position: relative;
  width: 100%;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.content-wrapper .page {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  height: 100%;
  width: 90%;
  margin-top: 40px;
}

.content-wrapper .page .page-title {
  display: flex;
  align-items: center;
  align-content: center;
  height: 120px;
  width: 100%;
}

.content-wrapper .page .page-title h1 {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.content-wrapper .page .card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  height: auto;
  padding: 35px;
  margin-bottom: 40px;
  background-color: #FFFFFF;
  border: 1px solid #E3E5E8;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(34, 54, 84, 0.1), 0 2px 4px rgba(34, 54, 84, 0.08), 0 -2px 6px rgba(34, 54, 84, 0.03);
}

.col {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 100%;
  margin-right: 20px;
}

.col.center {
  justify-content: center;
}

.col.right {
  justify-content: flex-end;
}

.header-wrapper {
  position: relative;
  height: auto;
  width: auto;
}

.navbar {
  position: relative;
  height: auto;
  width: 100%;
  background-image: url(/images/snagPodcast-banner.jpg?d7f9f0aad3de7b6c3f8abffc34b62259);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar * {
  font-family: "Source Code Pro", monospace;
  font-size: 35px;
  font-weight: 700;
}

.navbar.top {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  height: 145px;
  width: 100%;
}

.navbar .banner {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -130px;
  z-index: 1;
  display: flex;
  align-items: center;
  align-content: center;
  height: 160px;
  width: 740px;
  margin: 0 auto;
  background-color: #13005C;
  border-radius: 4px;
  box-shadow: 0px 0px 20px -8px black;
}

.navbar .banner .text {
  color: #FFF;
  font-size: 38px;
  text-align: center;
  letter-spacing: 0.8px;
}

.navbar .banner span {
  color: #DD1269;
  font-size: 38px;
}

.navRow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 750px;
  padding-left: 50px;
}

.navCol {
  position: relative;
  height: 50px;
  width: auto;
  text-align: center;
}

.navCol.logo {
  align-self: flex-start;
  z-index: 1;
  height: 160px;
  width: 160px;
  margin: 8px 0 0 8px;
}

.navCol .link-container {
  position: relative;
  height: 100%;
  width: auto;
}

.navCol .link-container a {
  height: 100%;
  width: 100%;
  transition: 300ms all ease;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.navCol .link-container::after {
  content: "";
  position: absolute;
  z-index: 1;
  height: 5px;
  width: 0%;
  left: -5%;
  bottom: 0;
  transition: 300ms all ease;
  background-color: #FFF;
}

.navCol .link-container:hover::after {
  width: 110%;
  background-color: #DD1269;
}

.navCol .link-container.active::after {
  width: 110%;
  background-color: #DD1269;
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 20px -8px black;
  transition: width 0.3s, height 0.3s ease;
}

.logo-container:hover {
  height: 102%;
  width: 102%;
}

.logo-container.active {
  height: 102%;
  width: 102%;
}

.logo-container img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.logo-container a {
  height: 100%;
  width: 100%;
}

.latest-episode {
  position: relative;
  height: 850px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.latest-episode .img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(86, 86, 86, 0.6);
}

.index.page .snagCard {
  justify-content: space-between;
  width: 100%;
}

.index.page .snagCard .img-container {
  height: 250px;
  width: 250px;
}

.index.page .snagCard .img-container img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.index.page .snagCard .episode-info {
  width: 70%;
}

.index.page .snagCard .episode-info .title {
  height: 50px;
  width: 100%;
}

.index.page .snagCard .episode-info .title.sub {
  height: auto;
}

.index.page .snagCard .episode-info .title .episode-num {
  color: #98A7B9;
  font-size: 45px;
  font-weight: 800;
  opacity: 0.75;
}

.index.page .snagCard .episode-info .title .episode-num i {
  font-size: 45px;
  font-weight: 800;
}

.index.page .snagCard .episode-info .title a {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.index.page .snagCard .episode-info .tag {
  position: relative;
  width: auto;
  padding: 8px;
  background-color: #EA4695;
  border-radius: 4px;
}

.contact.page .contact-form {
  width: 88%;
}

.contact.page .contact-form .row-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact.page .contact-form .row-items .row {
  width: 45%;
}

.contact.page .contact-form .row {
  width: 100%;
  margin: 15px 0;
}

.contact.page .contact-form .row label {
  color: #747B87;
  font-size: 18px;
  font-weight: 600;
}

.contact.page .contact-form .row input[type=text],
.contact.page .contact-form .row textarea {
  width: 100%;
  margin: 8px 0;
  padding: 6px 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000000;
  box-shadow: 0px 0px 0px 0px #000000;
  opacity: 0.75;
}

.contact.page .contact-form .row input[type=text]:hover,
.contact.page .contact-form .row textarea:hover {
  transition: 200ms ease;
  box-shadow: 0px 3px 0px 0px #000000;
  opacity: 1;
}

.contact.page .contact-form .row input[type=text]:focus,
.contact.page .contact-form .row textarea:focus {
  transition: 200ms ease;
  box-shadow: 0px 3px 0px 0px #000000;
  opacity: 1;
}

.contact.page .contact-form .row .submit-btn {
  height: 45px;
  padding: 0 14px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: lightblue;
}

