.nav-wrapper {
    background-image: url(../../images/snagPodcast-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-wrapper,
.nav-wrapper .nav-row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

/* NAV LINK STYLES */
.nav-row .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 0;
    background-color: theme('colors.white');
    transition: all 200ms ease;
}
.nav-row .nav-link:not(.logo):hover::after,
.nav-row .nav-link.active::after {
    width: 100%;
    background-color: theme('colors.purple.500');
}
.nav-row .nav-link a {
    display: block;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

/* NAV LOGO STYLES */
.nav-link.logo {
    align-self: flex-start;
    z-index: 1;
    height: 160px;
    width: 160px;
    margin-top: 20px;
    padding: 0;
}
.nav-link .logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    transition: all 200ms ease;
    box-shadow: 0 0 20px -8px black;
}
.nav-link .logo-container img {
    height: 100%;
    width: 100%;
    transition: 100ms all ease;
    background-position: center;
    background-repeat: no-repeat;
}
.nav-link .logo-container:hover {
    height: 101%;
    width: 101%;
}

/* NAV TAGLINE STYLES */
.nav-wrapper .nav-row.tagline {
    align-self: center;
    align-items: center;
    letter-spacing: 0.8px;
}
.nav-wrapper .nav-row.tagline span {
    color: theme('colors.snagPink');
}
