@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "imports.css";

@layer base {
    @font-face {
        font-family: "Alegreya Sans", sans-serif;
        src: url(../fonts/Alegreya_Sans/AlegreyaSans-LightItalic.ttf) format("truetype"),
        url(../fonts/Alegreya_Sans/AlegreyaSans-Light.ttf) format("truetype"),
        url(../fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf) format("truetype"),
        url(../fonts/Alegreya_Sans/AlegreyaSans-Italic.ttf) format("truetype"),
        url(../fonts/Alegreya_Sans/AlegreyaSans-Medium.ttf) format("truetype"),
        url(../fonts/Alegreya_Sans/AlegreyaSans-MediumItalic.ttf) format("truetype"),
        url(../fonts/Alegreya_Sans/AlegreyaSans-Bold.ttf) format("truetype"),
        url(../fonts/Alegreya_Sans/AlegreyaSans-ExtraBold.ttf) format("truetype");
    }

    @font-face {
        font-family: "Muli", sans-serif;
        src: url(../fonts/Muli/Muli-Light.ttf) format("truetype"),
        url(../fonts/Muli/Muli-LightItalic.ttf) format("truetype"),
        url(../fonts/Muli/Muli-Regular.ttf) format("truetype"),
        url(../fonts/Muli/Muli-Italic.ttf) format("truetype"),
        url(../fonts/Muli/Muli-SemiBold.ttf) format("truetype"),
        url(../fonts/Muli/Muli-SemiBoldItalic.ttf) format("truetype"),
        url(../fonts/Muli/Muli-Bold.ttf) format("truetype");
    }

    *,
    ::before,
    ::after {
        @apply relative h-auto w-auto;
        color: #2D3748;
    }

    a {
        @apply text-babyBlue no-underline;
    }

    button {
        @apply py-2 px-4 rounded tracking-wide text-white text-xl bg-babyBlue;
    }

    button:hover {
        @apply bg-blue-500;
    }
}
