.main-app-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.content-wrapper {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 50px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    width: 100%;
}
.header-container .title {
    padding: 6px 0;
    font-family: "Alegreya Sans", sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.8px;
}
.header-container .subtitle {
    margin-left: 8px;
    font-size: 16px;
}
.header-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(52, 153, 235, 0.7);
}

.card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 35px;
    margin-bottom: 40px;
    background-color: #FFFFFF;
    border: 1px solid #E3E5E8;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(34, 54, 84, 0.1), 0 2px 4px rgba(34, 54, 84, 0.08), 0 -2px 6px rgba(34, 54, 84, 0.03);
}

.col, .col.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 8px;
}

.col.center {
    align-items: center;
    text-align: center;
}

.col.right {
    align-items: flex-end;
    text-align: right;
}
